{% include "header.html" %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
        <h1>Anna</h1>
        <h1>Alimonda</h1>
        <h2>Enthusiastic and self-taught coder with a focus on Python, embarking on this journey seven months ago. </h2>
        <a href={{ url_for("about") }} class="btn-about">About Me</a>
        <p> {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p class="flash">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        </p>
    </div>

</section><!-- End Hero -->

{% include "footer.html" %}
