{% include "header.html" %}

  <main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Resume</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
          <div class="col-lg-6">
            <h3 class="resume-title">Summary</h3>
            <div class="resume-item pb-0">
              <h4>Anna Alimonda de Mannentreu</h4>
              <p><em>Enthusiastic and self-taught coder with a focus on Python, embarking on this journey since May 2023. While lacking formal experience, I showcase dedication through practical projects, demonstrating an ongoing commitment to learning and growth.
</em></p>
              <p>
              <ul>
                <li>34129, Trieste, TS</li>
                <li>+39 123 4567891</li>
                <li>anna.alimonda@example.com</li>
              </ul>
              </p>
            </div>

            <h3 class="resume-title">Education</h3>
            <div class="resume-item">
              <h4>High school diploma</h4>
              <h5>2003 - 2008</h5>
              <p><em>Caterina Percoto, Udine, UD</em></p>
              <p>High school diploma from a social sciences track</p>
            </div>
            <div class="resume-item">
              <h4>Bachelor's degree in Education Sciences</h4>
              <h5>2009 - 2011</h5>
              <p><em>University of Trieste, TS </em></p>
              <p>Quia nobis sequi est occaecati aut. Repudiandae et iusto quae reiciendis et quis Eius vel ratione eius unde vitae rerum voluptates asperiores voluptatem Earum molestiae consequatur neque etlon sader mart dila</p>
            </div>
          </div>
            <div class="resume-item">
                <h4>Self-Taught Developer</h4>
                <h5>2023 - </h5>
                <p><em>Day 88/100 of "100 Days of Python" programming course.
Currently, I am in the final days of the course and am actively engaged in developing my first projects, writing code entirely from scratch.</em></p>
            </div>
          <div class="col-lg-6">
            <h3 class="resume-title">Professional Experience</h3>
            <div class="resume-item">
              <h4>Professional Educator</h4>
              <h5>2012 - 2022</h5>
              <p><em>Casa Famiglia CFGB, Trieste </em></p>
              <p>
              <ul>
                <li>Organized personalized recreational and artistic activities based on children's interests and ages (approximately 10 children aged 3 to 14)</li>
                <li>Supported children in their personal and social growth journey, emphasizing their strengths and potential</li>
                <li>Responsible for writing reports and documentation</li>
                <li>Collaborated with the educational team and facility managers</li>
              </ul>
              </p>
            </div>
              <div class="resume-item">
              <h4>Operator of "Spazio Neutro"</h4>
              <h5>2017 - 2022</h5>
              <p><em>Spazio Neutro, Trieste </em></p>
              <p>
              <ul>
                <li>Worked as an operator at the Neutral Space for protected and facilitating meetings between minors and their reference adults</li>
                <li>Observed family dynamics and supported and mediated between the parties (approximately 30 families in total) to promote the recovery or initiation of the parental bond in delicate situations</li>
                <li>Managed meeting activities and drafted reports, minutes, and other documentation</li>
                <li>Collaborated with the service coordinator, the educational team, and operators from various services involved (social worker, psychologist, etc.)</li>
              </ul>
              </p>
            </div>
            <div class="resume-item">
              <h4>Nursery School Educator</h4>
              <h5>2022 - 2023</h5>
              <p><em>La Coccinella d'Oro, San Dorligo della Valle, TS</em></p>
              <p>
              <ul>
                <li>Worked with groups of children aged 10 months to 3 years (approximately 10 children per group), implementing innovative educational activities to promote their cognitive, emotional, and relational development</li>
                <li>Collaborated with families and participated in team meetings, contributing to the improvement of the service</li>
                <li>anaged the spaces and educational materials, following safety and hygiene standards</li>
              </ul>
              </p>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Resume Section -->

  </main><!-- End #main -->
{% include "footer.html" %}